{# src/Esecouristes/SectionBundle/Resources/views/Section/ajouter.html.twig #}

{% extends "EsecouristesSectionBundle::layout.html.twig" %}

{% block title %}
    Ajouter une section - {{ parent() }}
{% endblock %}

{% block esecouristessection_body %}

  <h2>Ajouter une section</h2>

  {% include "EsecouristesSectionBundle:Section:formulaire.html.twig" %}

  <p>
     Attention : cette section sera ajoutée directement
     sur la page d'accueil après validation du formulaire.
  </p>

{% endblock %}