{# src/Esecouristes/SectionBundle/Resources/views/Blog/index.html.twig #}

{% extends "EsecouristesSectionBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block esecouristessection_body %}
    <h2>Liste des sections</h2>
    
    <ul>
      {%for section in sections %}
            <li>
              <a href="{{ path('esecouristessection_voir', {'id' : section.id}) }}>{{ section.titre }}</a>
            </li>
      {% else %}
            <li>Pas (encore !) de sections</li>
      {% endfor %}
    </ul>
{% endblock %}